header{
	background: url(../img/bg-top.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	.container{
		padding: 0 3rem 7.5rem;
	}
	.header-top{
		background: rgba(255, 255, 255, 0.9);
		font-size: 1.4rem;
		.container{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			padding: 2rem 3rem;
		}
	}
	.header-menu{
		.menu{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			padding-top: 2rem;
			-webkit-box-pack: end;
			    -ms-flex-pack: end;
			        justify-content: flex-end;
			a{
				display: inline-block;
				color: #3e3e3e;
				font-size: 1.8rem;
				padding: 1rem;
				&:hover{
					color: #3a88d4;
				}
			}
			li:last-child a{
				padding-right: 0;
			}
		}
	}
	.logo{
		position: relative;
		background: rgba(0, 128, 182, 0.9);
		padding: 4rem 6.5rem;
		max-width: 39.2rem;
		width: 100%;
		margin-top: 1rem;
		&:before{
			position: absolute;
			content: "";
			width: 5000px;
			right: 100%;
			top: 0;
			height: 100%;
			border-right: 5000px solid rgba(0, 128, 182, 0.9);
		}
		img{
			width: 100%;
			height: auto;
		}
	}
	.block-icon{
		position: relative;
		margin: 24.5rem auto auto;
		max-width: 93rem;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 4rem 0;
		background: rgba(255, 255, 255, 0.9);
		&__item{
			-webkit-box-flex: 1;
			    -ms-flex: 1 1 0px;
			        flex: 1 1 0;
			font-family: $font3;
			line-height: 2rem;
			padding: 1rem 3rem;
			text-align: center;
			div{
				height: 6rem;
				padding-bottom: 2rem;
			}
			h2{
				color: #0080b6;
				font-size: 1.8rem;
				padding-bottom: 0.5rem;
			}
			p{
				font-size: 1.2rem;
				color: #636363;
			}
			&:nth-child(-n+3){
				border-right: 0.1rem solid #d6d7d8;
			}
		}
		.link-watch{
			position: absolute;
			display: block;
			text-align: center;
			left: 0;
			right: 0;
			margin: auto;
			bottom: -2.5rem;
			max-width: 29.6rem;
			width: 100%;
			border-radius: 2.8rem;
			background: #ffae00;
			text-shadow: 0 0 0.4rem rgba(255, 138, 0, 0.75);
			text-transform: uppercase;
			color: #fff;
			font: 1.7rem $font-bold;
			padding: 1.5rem 0;
			border: 0.2rem solid transparent;
			svg{
				position: absolute;
				fill: #fff;
				right: 1.2rem;
				top: 0.8rem;
			}
			&:hover{
				color: #ffae00;
				background: #fff;
				border: 0.2rem solid #ffae00;
				text-shadow: none;
			}
			&:hover svg{
				fill: #ffae00;
			}
		}
	}
	.mobail-menu{
		display: none;
	}
}

@media screen and(max-width: 1240px){
header{
	background-position: right;
}
}
@media screen and(max-width: 1010px){
header{
	.header-top{
		.container{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}
	}
	.header-contact{
		padding-top: 1rem;
	}
	.header-menu .menu{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		li:last-child a{
			padding-right: 1rem;
		}
	}
}
}
@media screen and(max-width: 768px){
header{
	.header-menu{
		.menu{
				display: none;
			}
		.responsive{
			position: absolute;
			z-index: 105;
			background: #fff;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			width: 100%;
			right: 0;
			top: 0;
			padding: 5rem 0 1rem 0;
			-webkit-animation: navmenumobile 0.3s ease-out;
				        animation: navmenumobile 0.3s ease-out;
			}
			@-webkit-keyframes navmenumobile{
				0%{
					-webkit-transform:  translateY(-100%);
					        transform:  translateY(-100%);
				}
				100%{
					-webkit-transform: translateY(0, 0);
					        transform: translateY(0, 0);
				}
			}
			@keyframes navmenumobile{
				0%{
					-webkit-transform: translateY(-100%);
					        transform: translateY(-100%);
				}
				100%{
					-webkit-transform: translateY(0, 0);
					        transform: translateY(0, 0);
				}
			}
		} 
	.mobail-menu{
		position: absolute;
		z-index: 999;
		top: 3rem;
		right: 3rem;
		display: block;
		width: 32px;
		height: 32px;
		cursor: pointer;
		-webkit-transition: background 0.1s;
		-o-transition: background 0.1s;
		transition: background 0.1s;
		span{
			position: absolute;
			display: block;
			left: 0;
			right: 0;
			height: 4px;
			background: #4c9cbe;
			-webkit-transition: background 0s 0.1s;
			-o-transition: background 0s 0.1s;
			transition: background 0s 0.1s;
			&:before,
			&:after{
				position: absolute;
				display: block;
				left: 0;
				width: 100%;
				height: 4px;
				background: #4c9cbe;
				content: "";
				-webkit-transition-duration: 0.1s, 0.1s;
				     -o-transition-duration: 0.1s, 0.1s;
				        transition-duration: 0.1s, 0.1s;
			  	-webkit-transition-delay: 0.1s, 0s;
			  	     -o-transition-delay: 0.1s, 0s;
			  	        transition-delay: 0.1s, 0s;
			}
			&:before{
				top: -12px;
				-webkit-transition-property: top, -webkit-transform;
				transition-property: top, -webkit-transform;
				-o-transition-property: top, transform;
				transition-property: top, transform;
				transition-property: top, transform, -webkit-transform;
			}
			&:after {
			  bottom: -12px;
			   -webkit-transition-property: bottom, -webkit-transform;
			   transition-property: bottom, -webkit-transform;
			   -o-transition-property: bottom, transform;
			   transition-property: bottom, transform;
			   transition-property: bottom, transform, -webkit-transform;
			}
		}
	}

	.mobail-menu.is-active span{
	  background: none;
	}
	 
	.mobail-menu.is-active span::before {
	  top: 0;
	  -webkit-transform: rotate(45deg);
	      -ms-transform: rotate(45deg);
	          transform: rotate(45deg);
	}
	 
	.mobail-menu.is-active span::after {
	  bottom: 0;
	  -webkit-transform: rotate(-45deg);
	      -ms-transform: rotate(-45deg);
	          transform: rotate(-45deg);
	}
	 
	.mobail-menu.is-active span::before,
	.mobail-menu.is-active span::after {
	  -webkit-transition-delay: 0s, 0.3s;
	       -o-transition-delay: 0s, 0.3s;
	          transition-delay: 0s, 0.3s;
	}
}
}

@media screen and(max-width: 650px){
header{
	background-position: center;
	.header-contact>a{
		padding-top: 1rem;
		display: block;
	}
	.header-contact p:after{
		display: none;
	}
	.header-top .container{
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.block-icon__item{
		padding: 2rem 1.5rem;
	}
}

}

@media screen and(max-width: 495px){
header{
	background-position: 71%;
	.container{
		position: relative;
	}
	.logo{
		padding: 2rem 8.5rem 2rem 2rem;
	}
	.mobail-menu{
		top: 3rem;
		right: auto;
		left: 77%;
	 	background-position: -85rem;
	 	span{
	 		background: #fff;
	 		&:before,
	 		&:after{
	 			background: #fff;
	 		}
	 	}
	}
	.mobail-menu.is-active{
		position: fixed;
		right: 3rem;
		left: auto;
		span{
			&:before,
			&:after{
				background: #4c9cbe;
			}
	}
	} 
	.header-menu .responsive{
		position: fixed;
	}
	.block-icon{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		    padding: 4rem 2rem;
		&__item{
			-webkit-box-flex: 1;
			    -ms-flex: 1 1 40%;
			        flex: 1 1 40%;
			        &:nth-child(-n+2){
			        	border-bottom: 0.1rem solid #d6d7d8;
			        }
			        &:nth-child(2){
			        	border-right: none;
			        }
		}
	}
	.header-top .container{
		text-align: center;
	}
}
}